/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2022, 4:29:10 PM
    Author     : DoaaSalem
*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {margin: 0; padding: 0;}

html {
    height: 100%;

}

body {
    background: linear-gradient(rgba(0, 0, 255, 0.7) , rgba(0,191,255,0.7));
    font-family: montserrat, arial, verdana;

}
#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform .action-button {
    width: 100px;
    background: blueviolet;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    color: rgb(71, 0, 138);
}
/*headings*/
.fs-title {
    font-size: 25px;
    text-transform: uppercase;
    color: #6C5AB5;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 20px;
    color: #6C5AB5;
    margin-bottom: 20px;
}
img {
    height: auto;
    width: 100%;
}

input[type=submit] {
    background: #fff;
    height: 2.75rem;
    margin: 1em auto auto;
}

@media (min-width: 768px) {
    input[type=submit] {
        background: #fff;
        bottom: 1.70rem;/* من هنا اعدل مكان زر البوتن**/
        left: 6.55rem;
        height: 2.75rem;
        padding: 0 3rem;
        position: absolute;
    }
}

input[type=email],
input[type=text] {
    height: 2.5rem;
    margin: 0 0 0.15rem;/*من هنا احدد المسافه بين الانبت**/
    width: 100%;
}

figure {
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media (min-width: 768px) {
    figure {
        float: left;
        height: 100%;
        position: relative;
        width: 50%;
    }
}

form {
    overflow: hidden;
    padding: 10%;
    position: relative;
    width: 80%;
}

@media (min-width: 768px) {
    form {
        float: left;
        height: 78%;
        padding: 6%;
        width: 38%;
    }
}

main {
    margin: 30px auto auto;
    overflow: hidden;
    position: relative;
    width: 90%;
}

@media (min-width: 768px) {
    main {
        height: 21.25rem;
        left: 50%;
        margin: auto;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 42.5rem;
    }
}

.headline {
    position: absolute;
    top: 8vw;
    width: 100%;
}

@media (min-width: 768px) {
    .headline {
        position: absolute;
        top: 3.4rem;
        width: 50%;
    }
}

/* Skin */

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 255, 0.7) , rgba(0,191,255,0.7));
    font: 700 16px 'Georgia', sans-serif;
}

input[type=email],input[type=text],input[type=password] {
    background: none;
    border: none;
    border-bottom: 1px solid #74bdb7;/*من هنا اعدل حجم الخط الي تحت المدخلات **/
    box-sizing: border-box;
    outline: none;
}



input[type=submit] {
    background:rgb(108, 90, 181);
    border: double;
    color: #fff;
    padding: 0 2rem;
}

input[type=submit]:hover,
input[type=submit]:focus {
    background: #f79577;
    cursor: pointer;
    outline: none;
}

.inputs--filled label {
    transform: translate(0, 0);
}

.inputs--invalid input {
    animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
    background: url(//my-assets.netlify.com/codepen/dailyui-001/ico-invalid.svg) center right no-repeat;
    border-bottom: 2px solid #f37b56;
    box-shadow: none;
    color: #f37b56;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }

    33% {
        transform: translate3d(-6px, 0, 0);
    }

    66% {
        transform: translate3d(6px, 0, 0);
    }
}

.inputs--invalid label {
    color: #f37b56;
}

label {
    display: inline-block;
    transform: translate(0, 1.25rem);
    transition: 0.15s;
}

main {
    background: #f9f6ed;/**لون المربع الي جوا **/
    border-radius: 0.25rem;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.text-headline {
    color: #9370DB;
    letter-spacing: 0.10rem;/* من هنا اعدل تقارب كلمه sign up**/
    font: 700 1.4em 'Times New Roman ';
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .text-headline {
        font: 700 1.625rem 'Georgia';
    }
}

.text-body {
    color: #354c58;
    font: 400 16px 'Georgia', sans-serif;
    padding-bottom: 10px;
}

.text-small-uppercase {
    color: #0000CD;
    font: 700 .75rem 'Georgia';
    letter-spacing: .08rem;
    text-transform: uppercase;
}

.text-subheadline {
    color: #0000FF;
    letter-spacing: .143rem;
    font: 700 0.652rem 'Georgia';
    margin-bottom: 1.5rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    
}

@media (min-width: 768px) {
    .text-subheadline {
        font: 700 0.75rem 'Georgia';
    }
}